@define-color drop-target #ff8800;
@define-color placeholder_text_color alpha(@win-contrast, 0.4);

* {
    transition: background 0.2s ease, color 0.2s ease;
}


.segment .content-area>*, textview>text {
    background: transparent
}

.segment {
    border-radius: 4px;
}



list.segment-list {
    background: transparent;
    padding: 4px 16px;
    margin-left: 0;
}



scrollbar slider {
    background: alpha(@win-contrast, 0.75);
    padding: 0px;
    margin: 4px 2px;
    min-width: 6px;
    border-width: 0px;
    border-radius: 4px;
}

button:not(.titlebutton).image-button {
    min-height: 32px;
    min-width: 34px;
    padding: 0;
}

button.titlebutton image {
    opacity: 0;
    color: #222;
}

button.titlebutton:hover image {
    opacity: 0.5;
    color: #222;
}

headerbar button:not(.titlebutton), headerbar button:not(.titlebutton).image-button, headerbar entry {
    min-height: 32px;
    min-width: 34px;
    padding: 0;
    margin: 4px 1px;
}

headerbar>box.right{
    margin-left: 8px;
}

headerbar>box.left{
    margin-right: 8px;
}

button.titlebutton {
    margin: 4px;
    min-width: 12px;
    min-height: 12px;
    box-shadow: 0px 0px 0px 1px #222;
    border: none;
    outline: none;
    border-radius: 12px;
}
button.titlebutton.minimize {
    background: alpha(shade(gold, 0.95), 0.95);
}
button.titlebutton.maximize {
    background: alpha(shade(lightgreen, 0.9), 0.9);
}
button.titlebutton.close {
    background: alpha(shade(tomato, 0.9), 0.9);
}
button.titlebutton.minimize:hover {
    background: alpha(shade(mix(gold, white, 0.75), 0.95), 0.95);
}
button.titlebutton.maximize:hover {
    background: alpha(shade(mix(lightgreen, white, 0.75), 0.9), 0.9);
}
button.titlebutton.close:hover {
    background: alpha(shade(mix(tomato, white, 0.75), 0.9), 0.9);
}

window, headerbar {
    box-shadow: none;
    border: none;
}

window {
    background: @win-bg;
    color: @win-contrast;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

headerbar {
    background: @win-bg;
    border-bottom: 1px alpha(@win-contrast, 0.5) solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0px 5px 0px 10px;
}

window.collapsed headerbar {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

window:backdrop, headerbar:backdrop
{
    background: mix(@win-bg, @win-contrast, 0.2);
}

popover.window-popover {
    background: @win-bg;
    border: 1px alpha(@win-contrast, 0.75) solid;
    color: @win-contrast;
    border-radius: 4px;
}

colorswatch {
    border: 1px alpha(@win-contrast, 0.75) solid;
    border-radius: 0px;
}

button:not(.titlebutton), entry {
    background: alpha(@win-contrast, 0.1);
    color: alpha(@win-contrast, 0.9);
    border: 1px alpha(@win-contrast, 0.5) solid;
    box-shadow: none;
    outline: none;
}

button:not(.titlebutton):hover, entry:hover {
    background: alpha(@win-contrast, 0.2);
    color: alpha(@win-contrast, 0.9);
    border: 1px alpha(@win-contrast, 0.6) solid;
}

button:not(.titlebutton):active, entry:focus, button:not(.titlebutton).toggle:checked {
    background: alpha(@win-contrast, 0.3);
    color: @win-contrast;
    border: 1px alpha(@win-contrast, 0.7) solid;
}

.toolbox-stack>box {
    background: mix(@win-bg, @win-contrast, 0.1);
    padding: 4px;
    color: @win-contrast;
}

.toolbox-stack>box button {
    margin: 4px 0px;
}

.toolbox-stack>box:backdrop {
    background: mix(@win-bg, @win-contrast, 0.3);
    color: alpha(@win-contrast, 0.7);
}

separator {
    background: alpha(@win-contrast, 0.5);
}

.segment-list-drop-area:drop(active).no-segments {
    border: @win-contrast 2px solid;
}


.segment {
    background: @segment-bg;
    color: @segment-contrast;
    border: 1px solid @win-contrast;
    transition: opacity 0.2s ease, background 0.2s ease, color 0.2s ease;
}

popover.segment-popover {
    background: @segment-bg;
    border: 1px alpha(@segment-contrast, 0.75) solid;
    color: @segment-contrast;
    border-radius: 4px;
}

popover.segment-popover * {
    color: @segment-contrast;
}

:drop(active) {
    border: none;
    box-shadow: none;
    outline: none;
}

.segment:drop(active) {
    border: 1px solid @win-contrast;
}

.segment:drop(active).drop-above {
    border-top: @win-contrast 8px solid;
}

.segment:drop(active).drop-below {
    border-bottom: @win-contrast 8px solid;
}

.segment textview {
    background: transparent;
}

.segment textview text {
    color: alpha(@segment-contrast, 0.9);
    caret-color: alpha(@segment-contrast, 0.9);
}

.segment textview text selection {
    background: alpha(@segment-contrast, 0.8);
    color: @segment-contrast-contrast;
}

.segment .control-area .drag-handle {
    color: alpha(@segment-contrast, 0.9);
}

.segment .control-area button {
    background: alpha(@segment-contrast-contrast, 0.6);
    color: alpha(@segment-contrast, 0.6);
    border-radius: 4px;
    border: 1px alpha(@segment-contrast, 0.6) solid;
}

.segment .control-area button:hover {
    background: alpha(@segment-contrast-contrast, 0.8);
    color: alpha(@segment-contrast, 0.8);
    border-radius: 4px;
    border: 1px alpha(@segment-contrast, 0.8) solid;
}

.segment .control-area button:active, .segment .control-area button.toggle:checked {
    background: @segment-contrast-contrast;
    color: @segment-contrast;
    border-radius: 4px;
    border: 1px @segment-contrast solid;
}
